html {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-height: 100%;
}


body {
    background-color: black;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 1.5rem;
    text-align: center;
    padding: 0;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}

div .flex-container {
    max-height: 100px;
    margin: auto;
    padding: 10px;
}

.input {
    font-size: .6em;
    padding: 10px;
    background-color: black;
    color: blanchedalmond;
    transition: color .3s, background-color .3s;
    font-family: 'Zen Antique Soft';
    border-radius: 10px;
}

input:hover {
    background-color: darkslategrey;
    color: gold;
}

.img_div {
    margin: 20px;
    border: 7px solid black;
    border-radius: 20px;
    padding: 25px;
  }

.quote_div {
    margin-right: auto;
    margin-left: auto;
    border-radius: 20px;
    color: gold;
    font-family: Cinzel;
}

.author_div {
    color: gold;
    text-align: right;
    margin: auto 20px;
    font-family: Cinzel;
    
}

.flex-container {
    display: flex;
    justify-content: space-around;
}

img {
    margin-left: auto;
    margin-right: auto;
    max-width: 85%;
    max-height: 100%;
    align-self: baseline;
}